*.xml
*.iml
*.pyc
*-checkpoint.ipynb*
.ipynb_checkpoints
*.log
*.hdf

# build
*.egg*
build/
dist/

# Spyder project settings
.spyderproject
.spyproject

# pyCharm project setting
.idea
.idea/

# macOS DS indices
.DS_STORE
Thumbs.db
